SENDER_EMAIL=xxxxx@example.com
SENDER_PASSWORD=xxxxx
NUM_DELIVERIES=12345
SQL_HOST=fromhome.xxx.xxxxxxx.com
SQL_USER=xxx
SQL_PASSWORD=xxxxxx
SQL_DATABASE=xxxxxxxx
APP_SECRETKEY=xxxxxxx
SQLALCHEMY_DATABASE_URI=mysql+mysqldb://fromhome.xxxxxx@fromhome.xxxx.xxxx.xxxxx/fromhome$default
UNIVERSITY_CSV_FILE=/xxxxx/xxxx/xxx/xxx/us_universities.csv