<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>About FromHome</title>

    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/about.css" />
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <a href="/" class="back-button"><i class="fa-solid fa-arrow-left fa-2x" style="color: #000000;"></i><p>Back to Home</p></a>
    <div class="content">
      <h1 class="title">About FromHome</h1>
      <div class="stat-box">
          <p>Deliveries Hosted:</p>
          <p class="number">{{number}}</p>
      </div>
      <p class="section-header" id="header-1">What is it?</p>
      <div id="div-1" class="content-div">
      <p class="section-content">FromHome was created to accomplish one goal: to blur the lines between college and home. College students are often happy to finally leave the
      bird's nest and venture off into the world on their own, but it can be hard to leave the place and the people that have harbored them for almost two decades. We wanted to fix this problem
      by allowing students to recieve food or items from home. And we accomplish this through volunteering: delivery services can be expensive, especially if it's food in the truck. This often
      prompts parents to send small amounts of food if anything, and often just money.</p>
      <p class="section-content">But money isn't a substitute for home. Although it will help them survive, it often doesn't give that same feeling of happiness, safety, and love knowing that their parents are watching out
      for them. However, parents are always busy with so much. Meetings, vacations, emergencies: the events never end. It can be really difficult to find the time to drive hours to and from
      a university tens or hundreds of miles away. And those who have the time to deliver can benefit their wider communities and build stronger relationships which those around them who have
      children attending the same university. FromHome is a community service, bringing the feeling home to distant places.</p>
      </div>
      <p class="section-header" id="header-2">But Why?</p>
      <div id="div-2"  class="content-div">
      <p class="section-content">FromHome was developed by a high school student. My brother was heading off to college at the time I started working on this project, and my parents had
      joined the class of '29 group chat for his university. One thing that stood out to me was that people were asking for food/other item deliveries from other parents, my parents included. But the whole process felt
      a little complicated: you had to post about you request, put your location in, hope the message doesn't get forgotten or covered up by everyone else asking questions, hope that someone near you
      both is leaving to go there and sees the message, then schedule a time and location to leave from. I wanted to make a tool to streamline this process so that no one is left out: me
      and my parents are always super busy, and we rarely get time to travel for three hours. And this idea could be stretched across the entire nation so that it could have the greatest impact.</p>
      </div>
      <p class="section-header" id="header-3">Rules:</p>
      <div id="div-3" class="content-div">
      <p class="section-content">That being said, in order to maintain the integrity of the site, we have a few ground rules.</p>
      <p class="rule-headers"><b>For drivers:</b></p>
      <ul class="rules-list">
          <li>Rule 1: <b>FOLLOW THROUGH WITH YOUR DELIVERIES!!</b> Many people are relying on you to deliver their items on time! Even if you can't make it exactly on time, edit your
          estimated arrival time to give others a heads up!</li>
          <li>Rule 2: Have integrity! Please do not take anything from the deliveries (unless the registrant says to)</li>
          <li>Rule 3: Enter in the correct information ALWAYS -- if you enter in wrong information in an attempt to violate these rules, legal action could be taken. If it's an accident,
          please edit it as quickly as possible.</li>
          <li>Rule 4: Show up at the delivery spot about 15-30 minutes before you plan to leave so people can show up.</li>
      </ul>
      <p class="rule-headers"><b>For registrants:</b></p>
      <ul class="rules-list">
          <li>Rule 1: Please show up on time! The volunteer will not be instructed to wait for you if you're late.</li>
          <li>Rule 2: Do not transport illegal items! Suspicious activity can and will be reported.</li>
          <li>Rule 3: Again, input all correct information!</li>
      </ul>
      <p class="rule-headers"><b>For everyone:</b></p>
      <ul class="rules-list" style="padding-bottom: 20px;">
          <li>Rule 1: Report suspicious activity! If something seems off about a situation, take pictures of license plates, of people, anything you think could allow the authorities to catch
          any problems.</li>
          <li>Rule 2: Be respectful! We're a community; don't ruin it by being rude to drivers or guests alike.</li>
          <li>Rule 3: Have fun! We're all in this together. Thank your driver, make connections with the others in your area, and be kind!</li>
      </ul>
      </div>
      <div class="contact-row" id="contact-row">

        <div class="contact-box">
          <div class="sub-contact">
            <i class="fas fa-envelope contact-icon"></i>
            <p>derpyderp2048@gmail.com</p>
          </div>
          <p class="sub-text">Email me with inquiries and general questions!</p>
        </div>
        <div class="contact-box">
          <div class="sub-contact">
            <i class="fas fa-phone contact-icon"></i>
            <p>469-961-9700</p>
          </div>
          <p class="sub-text">Text me for feedback, reviews, or any questions!</p>
        </div>
        <div class="share-container">
          <div class="sub-contact">
            <i class="fas fa-share contact-icon"></i>
            <p class="underline" id="share-text">Share Us!</p>
          </div>
          <p class="sub-text">Share this tool with your friends and family!</p>
        </div>
      </div>
    </div>
    <section class="footer">
      <h2>FromHome</h2>
      <a>Contact Us</a>
    </section>
  </body>
  <script>
    var share = document.getElementById("share-text");
    const shareData = {
      title: "FromHome",
      text: "Send deliveries to your children or friends at college using FromHome!",
      url: "https://fromhome.pythonanywhere.com",
    };

    share.addEventListener("click", event => {
      navigator.share(shareData);
    });

  </script>
</html>